.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: #fff;
    margin-top: 10vh;
    width: 70vw;
    height: 10vh;
    background:#415A77;
    border-radius: 0.4rem;
}

.card h3{
    margin: 1rem;
}

.circleGrap{
    flex-direction: row-reverse;
    flex-grow: 0.5;
    margin:1rem;
}