.inputCard{
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 55vw;
    height: 42vh;
    background: #415A77;
    border-radius: 0.4rem;
}
.titleSelect{
    text-align: center;
    color: #fff;
}
.stackWrapper{
    display: flex;
    flex-direction:row;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
}

.sendB {
    margin-top: 2rem;
    margin-left: 0.5vw;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.sendB:hover {
    color: black;
    background-color: #DEDBD2;
    transition: 0.25s ease-in-out;   
}

.redSocial{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.inputField{
    flex-direction: column;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    align-content: center;
}
.inputField .inputBox{
    box-shadow:  0 0 20px 3px rgba(0, 0, 0, 0.2);
}
