.logincard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 30rem;
    height: 27rem;
    color: #fff;
    background: #415A77;
    border-radius: 0.4rem;
    position: relative;
}

.logincard .loginT {
    font-size: 2rem; 
    font-weight: 500;
    margin-bottom: 1rem; 
}

.logincard::before,
.logincard::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 50px;
    filter: blur(50px);
}

.logincard::before {
    top: 50%;
    left: 5%; 
}

.logincard::after {
    top: 50%; 
    right: 5%; 
}

.wrapperLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0; 
}

.containerL {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.logB,
.singB {
    margin-top: 1.5rem; 
    width: 120px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer; 
}

.logB:hover,
.singB:hover {
    color: black;
    background-color: #DEDBD2;
    transition: 0.25s ease-in-out;
}
