.logincard{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 10vh;
    width: 30rem;
    height: 22rem;
    color: #fff;
    background: #415A77;
    border-radius: 0.4rem;
}
.logincard .loginT{
    font-size: 40px;
    font-weight: 500;
}

.logincard::before{
    content: "";
    position: absolute;
    top:45vh;
    left: 30vw;
    width: 200px;
    height: 100px;
    filter: blur(100px);
}
.logincard::after{
    content: "";
    position: absolute;
    top:35vh;
    left: 60vw;
    width: 200px;
    height: 100px;
    filter: blur(100px);
}


.wrapperLogin{
    flex-direction: column;
    margin: 0 10vh;
    
}
.containerL {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.logB{
    margin-top: 4.5vh;
    margin-left: 0.1vw;
    width: 120px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow:  0 0 20px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.4rem;
}
.logB:hover{
    color: black;
    background-color: #DEDBD2;
    transition: 0.25s ease-in-out;
}

.singB{
    margin-top: 4.5vh;
    margin-left: 1.5vw;
    width: 195px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow:  0 0 20px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.4rem;

}
.singB:hover{
    color: black;
    background-color: #DEDBD2;
    transition: 0.25s ease-in-out;
}