.logoutcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 10vh;
    width: 30rem;
    height: 22rem;
    color: #fff;
    background: #415A77;
    border-radius: 0.4rem;
}

.logoutcard::before{
    content: "";
    position: absolute;
    top:45vh;
    left: 30vw;
    width: 200px;
    height: 100px;
    filter: blur(100px);
}
.logoutcard::after{
    content: "";
    position: absolute;
    top:35vh;
    left: 60vw;
    width: 200px;
    height: 100px;
    filter: blur(100px);
}

.logoutcard .logoutT{
        font-size: 40px;
        font-weight: 500;
}

.wrapperLogOut{
    flex-direction: column;
    margin: 5vh;
    color: #fff;
    
}
.LoB{
    margin-top: 4.5vh;
    margin-left: 0.1vw;
    width: 142px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow:  0 0 20px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.4rem;

}
.LoB:hover{
    color: black;
    background-color: #DEDBD2;
    transition: 0.25s ease-in-out;
}
